.pillars {
    background:url("./img/greek-pattern.jpg");
    background-repeat: repeat-y;
    /* background-repeat: no-repeat; */
    /* height: 100vh; */
     
}

h1 {
    font-size: 2rem;
}

/* button {
    opacity: 95%;
} */

.card {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: rgba(255, 255, 255, 0.904);
    margin-inline: 2rem;
}
/* questTitle {
    font-size: 1.5rem;
} */